RADIUS exists, choose a better name

Not sure why Radius was chosen but it's not a great choice. 

We have the RADIUS protocol, which is all you can find when searching "radius" in search engines, when when you add "Microsoft". 

Fitting the protocol of course there's FreeRADIUS (https://github.com/FreeRADIUS) too. 

Since a cloud tool is also kinda adjacent to networking, the name considerable interferes with that. 

[AB#9900](https://dev.azure.com/azure-octo/e61041b4-555f-47ae-95b2-4f8ab480ea57/_workitems/edit/9900)

RADIUS is [RFC 2058](https://datatracker.ietf.org/doc/html/rfc2058) from 1997, [RFC 2138](https://datatracker.ietf.org/doc/html/rfc2138), [RFC 2865](https://datatracker.ietf.org/doc/html/rfc2865), [RFC 2866](https://datatracker.ietf.org/doc/html/rfc2866), and many others.

It is a central component for almost every ISP (Internet Service Provider).
It's rather puzzling that you didn't realize the importance and significance of this name clash.
https://en.wikipedia.org/wiki/RADIUS

It's like as if I was creating a spreadsheet app called "Excel".

It's surely also a trademark (at least under German law), even if not registered, due to its widespread use in the IT community. But even if were not strictly a trademark, it's just confusing, for both your project and other apps that are for the real RADIUS.

Hi @Regenhardt, Thank you for filing this issue. We hear your perspective on the project name but we believe https://github.com/radius-project is a world apart from the Remote Authentication Dial In User Service. What the two accomplish is wholly dissimilar and readily distinguishable. Thanks again and please keep the feedback coming.